
teste/ex.jpeg
teste/foto1.jpg
teste/foto2.jpg
teste/foto3.jpg
teste/foto4.jpg
teste/foto5.jpg
teste/foto6.jpg
teste/foto7.jpg
teste/foto8.jpg
teste/foto9.jpg
teste/Pratico1/ExampleSTP.pdf
teste/Pratico1/fotitos/1.png
teste/Pratico1/fotitos/10.png
teste/Pratico1/fotitos/11.png
teste/Pratico1/fotitos/12.png
teste/Pratico1/fotitos/13.png
teste/Pratico1/fotitos/14.png
teste/Pratico1/fotitos/15.png
teste/Pratico1/fotitos/16.png
teste/Pratico1/fotitos/16_1.png
teste/Pratico1/fotitos/17.png
teste/Pratico1/fotitos/17_1.png
teste/Pratico1/fotitos/18.png
teste/Pratico1/fotitos/18_1.png
teste/Pratico1/fotitos/2.png
teste/Pratico1/fotitos/3.png
teste/Pratico1/fotitos/4.png
teste/Pratico1/fotitos/5.png
teste/Pratico1/fotitos/5_1.png
teste/Pratico1/fotitos/6.png
teste/Pratico1/fotitos/7.png
teste/Pratico1/fotitos/8.png
teste/Pratico1/fotitos/8_1.png
teste/Pratico1/fotitos/9.png
teste/Pratico1/fotitos/resol01.jpg
teste/Pratico1/fotitos/resol02.jpg
teste/Pratico1/fotitos/resol03.jpg
teste/Pratico1/fotitos/resol06.jpg
teste/Pratico1/fotitos/resol07.jpg
teste/Pratico1/fotitos/resol08.jpg
teste/Pratico1/fotitos/resol09.jpg
teste/Pratico1/fotitos/resol10.jpg
teste/Pratico1/fotitos/resol12.jpg
teste/Pratico1/fotitos/resol13.jpg
teste/Pratico1/fotitos/resol14.jpg
teste/Pratico1/fotitos/resol16.jpg
teste/Pratico1/fotitos/resol17.jpg
teste/Pratico1/fotitos/resol18.jpg
teste/Pratico1/GuioesPratico1.pdf
teste/Pratico1/ospf/p1.png
teste/Pratico1/ospf/p2.png
teste/Pratico1/ospf/p2_1.png
teste/Pratico1/ospf/p2_2.png
teste/Pratico1/ospf/p6.jpeg
teste/Pratico1/SlidesPratico1.pdf
teste/Pratico1/Testes praticos/2017-2018/1/03.png
teste/Pratico1/Testes praticos/2017-2018/1/04.png
teste/Pratico1/Testes praticos/2017-2018/1/08.png
teste/Pratico1/Testes praticos/2017-2018/1/09.png
teste/Pratico1/Testes praticos/2017-2018/1/11.png
teste/Pratico1/Testes praticos/2017-2018/1/12.png
teste/Pratico1/Testes praticos/2017-2018/1/13.png
teste/Pratico1/Testes praticos/2017-2018/1/14.png
teste/Pratico1/Testes praticos/2017-2018/1/resol03_04.jpg
teste/Pratico1/Testes praticos/2017-2018/1/resol08_09.jpg
teste/Pratico1/Testes praticos/2017-2018/1/resol11_12.jpg
teste/Pratico1/Testes praticos/2017-2018/1/resol13_14.jpg
teste/Pratico1/Testes praticos/2017-2018/2/01.png
teste/Pratico1/Testes praticos/2017-2018/2/02.png
teste/Pratico1/Testes praticos/2017-2018/2/03.png
teste/Pratico1/Testes praticos/2017-2018/2/04.png
teste/Pratico1/Testes praticos/2017-2018/2/05.png
teste/Pratico1/Testes praticos/2017-2018/2/06.png
teste/Pratico1/Testes praticos/2017-2018/2/07.png
teste/Pratico1/Testes praticos/2017-2018/2/08.png
teste/Pratico1/Testes praticos/2017-2018/2/09.png
teste/Pratico1/Testes praticos/2017-2018/2/10.png
teste/Pratico1/Testes praticos/2017-2018/2/resol02.jpg
teste/Pratico1/Testes praticos/2017-2018/2/resol04.png
teste/Pratico1/Testes praticos/2017-2018/2/resol05.jpg
teste/Pratico1/Testes praticos/2017-2018/2/resol08.jpg
teste/Pratico1/Testes praticos/2018-2019/1/01.png
teste/Pratico1/Testes praticos/2018-2019/1/01_.png
teste/Pratico1/Testes praticos/2018-2019/1/08.png
teste/Pratico1/Testes praticos/2018-2019/1/08_.png
teste/Pratico1/Testes praticos/2018-2019/1/10.png
teste/Pratico1/Testes praticos/2018-2019/1/10_.png
teste/Pratico1/Testes praticos/2018-2019/1/resol01.png
teste/Pratico1/Testes praticos/2018-2019/1/resol08.png
teste/Pratico1/Testes praticos/2018-2019/1/resol10.png
teste/Pratico1/Testes praticos/2018-2019/2/01.png
teste/Pratico1/Testes praticos/2018-2019/2/02.png
teste/Pratico1/Testes praticos/2018-2019/2/03.png
teste/Pratico1/Testes praticos/2018-2019/2/04.png
teste/Pratico1/Testes praticos/2018-2019/2/05.png
teste/Pratico1/Testes praticos/2018-2019/2/05_.png
teste/Pratico1/Testes praticos/2018-2019/2/06.png
teste/Pratico1/Testes praticos/2018-2019/2/07.png
teste/Pratico1/Testes praticos/2018-2019/2/08.png
teste/Pratico1/Testes praticos/2018-2019/2/09.png
teste/Pratico1/Testes praticos/2018-2019/2/10.png
teste/Pratico1/Testes praticos/2018-2019/2/11.png
teste/Pratico1/Testes praticos/2018-2019/2/11_.png
teste/Pratico1/Testes praticos/2018-2019/2/12.png
teste/Pratico1/Testes praticos/2018-2019/2/12_.png
teste/Pratico1/Testes praticos/2018-2019/2/resol01.jpg
teste/Pratico1/Testes praticos/2018-2019/2/resol02.jpg
teste/Pratico1/Testes praticos/2018-2019/2/resol07.jpg
teste/Pratico1/Testes praticos/2018-2019/2/resol08.jpg
teste/Pratico1/Testes praticos/2018-2019/2/resol09.jpg
teste/respostas.txt
